.categories{
    width:100%;
}
 .categories .categories-container {
    width:100%;
    padding:10px;
    box-shadow: var(--primary-shadow);
    border-radius:10px;
    background-color:var(--primary-color)

 }
 .categories .categories-container .categories-title{
    margin:10px;
    width: 100%;
 }
 .categories .categories-container .categories-title h2{
    font-family: 'Poppins', sans-serif;;
    text-transform: capitalize;
 }

.categories .categories-container .categories-list {

}
.cate-item{
    /* margin:0px px; */
    width:100%;
    text-align: center;
    align-items:center;

}
.cate-item .cate-item-img{
    margin:0 auto;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
}
.cate-item .cate-item-img img{
    max-width: 100%;
}
.cate-item .cate-item-title{
    font-family: 'Raleway', sans-serif;
    font-weight:lighter;
    text-transform:capitalize;
    font-size:12px;
    margin-top: 5px;
    color:var(--secondary-color)
}

@media only screen and (min-width:768px){
.cate-item .cate-item-img{
    width: 70px;
    height: 70px;
}
.cate-item .cate-item-title{
    font-size: 14px;
    font-weight:normal;
}
}

