.cart {
  max-width: 1000px;
  margin-top: 20px;
  outline: none;
  border: none;
}

.cart-paper-container .cart-paper-desc,
.cart-paper-numbers,
.cart-sub-total {
  display: flex;
}
.cart-paper-container .cart-paper-title {
  flex: 60%;
  padding: 0 10px;
}
.cart-paper-container .cart-paper-numbers {
  margin: 10px 0;
  padding: 0 40px;
  justify-content: space-between;
}
.cart-paper-container
  .cart-paper-numbers
  .cart-paper-quantity
  .cartInput
  input {
  margin: 0 15px;
  width: 50px;
}
.cart-paper-container .cart-paper-title .MuiTypography-h4 {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
.cart-paper-container .cart-paper-img {
  flex: 40%;
}
.cart-paper-container .cart-paper-img img {
  max-width: 100%;
}
.cart-sub-total {
  justify-content: flex-end;
  width: 100%;
  text-align: right;
  padding: 20px;
}
.cart-sub-total .cart-sub-total-title {
  margin: 0 30px;
}
.cart-paper-price .MuiTypography-body1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  color:var(--background-one);
}

.cart .cart-checkout {
  width: 100%;
  text-align: right;
  padding: 10px;
}

@media only screen and (min-width: 1024px){
    .cart-paper-container{
        display: flex;
        flex-direction: row;
    }
}