.product-information {
  width: 100%;
}
.product-information .product-details-main {
  width: 100%;
  padding: 20px;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  /* box-shadow: var(--primary-shadow); */
}

.product-information .product-details-main .product-details-slider {
  width: 100%;
  height: 400px;
  position: relative;
  /* background-image: url("./img/img1.jpg"); */
  background-size: cover;
  background-position: center;
}

.product-information
  .product-details-main
  .product-details-slider
  .product-images {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  /* background: #fff; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100px;
  grid-gap: 10px;
  padding: 10px;
}

.product-information
  .product-details-main
  .product-details-slider
  .product-images
  img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  text-align: center;
}

.product-information
  .product-details-main
  .product-details-slider
  .product-images
  img
  .active {
  opacity: 0.5;
}

.product-information .product-details-main .main-details {
  /* width: 50%; */
  font-family: "Poppins", sans-serif;
}

.product-information .product-details-main .main-details .product-brand {
  text-transform: capitalize;
  font-size: 25px;
}

.product-information .product-details-main .main-details .product-short-des {
  font-size: 16px;
  line-height: 30px;
  height: auto;
  /* margin: 15px 0 30px; */
}

.product-information .product-details-main .main-details .product-price {
  font-weight: 700;
  font-size: 30px;
}

.product-information .product-details-main .main-details .product-actual-price {
  font-size: 30px;
  opacity: 0.5;
  text-decoration: line-through;
  margin: 0 20px;
  font-weight: 300;
}

.product-information .product-details-main .main-details .product-discount {
  color: #ff7d7d;
  font-size: 20px;
}

.product-information .product-details-main .main-details .product-sub-heading {
  font-size: 30px;
  text-transform: uppercase;
  margin: 60px 0 10px;
  font-weight: 300;
}

.product-information .product-details-main .main-details .main-details-buttons {
  width: 100%;
  color: #383838;
}
.product-information
  .product-details-main
  .main-details
  .main-details-buttons
  .btn {
  /* padding: 10px 20px;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: bold; */
  font-size: 14px;
  margin: 10px 0;
  border-color: var(--public-color);
  color: #383838;
}
.product-information
  .product-details-main
  .main-details
  .main-details-buttons
  .btn
  p {
  font-size: 1.5em;
  margin: 0 5px;
  color: var(--main-color-2);
}
.product-information
  .product-details-main
  .main-details
  .main-details-buttons
  .cart-btn {
  margin-right: 3%;
  /* background: #383838; */
  /* color: #fff; */
}

.product-information .product-all-details .detail-des,
.product-information .product-all-details .product-spec {
  padding: 0 5vw;
  margin-top: 20px;
  text-transform: capitalize;
  /* box-shadow: var(--primary-shadow); */
  border: 1px solid var(--public-color);
  border-radius: 4px;
}

.product-information .product-all-details .detail-des .heading,
.product-information .product-all-details .product-spec .product-spec-heading,
.reviews-section .MuiTypography-h2 {
  font-size: 25px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.product-information .product-all-details .detail-des .des,
.product-information .product-all-details .product-spec .des {
  color: #383838;
  /* line-height: 25px; */
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
}
.product-information .cart-paper-quantity .cartInput input {
  width: 60px;
  padding: 0 20px;
  margin: 10px 0;
}
.reviews-section {
  margin-top: 20px;
}
@media only screen and (min-width: 600px) {
  .product-information .product-details-main {
    flex-direction: row;
    /* flex-direction:space-between; */
  }
  .product-information .product-details-main .product-details-slider {
    width: 270px;
    height: 270px;
  }
  .product-information .product-details-main .main-details {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .product-information .product-details-main .product-details-slider {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (min-width: 1280px) {
  .product-information .product-details-main {
    /* height:100vh; */
    /* flex-direction: row; */
    padding: 20px;
    /* margin:10px 20px 0 0; */
    /* width: 600px; */
    /* float:left; */
    /* position:fixed; */
    top: 5px;
    /* left:20px; */
    width: fit-content;
    display: block;
  }
  .product-information .product-details-main .product-details-slider {
    /* margin-right:50px */
  }
  .product-information .product-details-main .product-details-slider {
    width: 500px;
    height: 500px;
  }
  .product-information .product-all-details {
    /* float:left */
    /* display:flex; */
    /* justify-content: space-between */
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
  }
  .product-information .product-all-details .detail-des {
    /* flex: 0 0 60%; */
    /* margin-right:20px */
  }
  .product-information .product-all-details .product-spec {
    /* flex: 0 0 40%; */
  }

  .product-information {
    /* display: inline-block; */
    width: 1280px;
    margin: 0 auto;
    position: relative;
  }
}
