.product{
    width: 100%;
    padding:5px;
}
.product-container{
    /* width: 320px; */
    background-color: var(--primary-color);
    box-shadow: var(--primary-shadow);

}
.product-container .product-img-container .product-img img{
    max-width: 100%;
}
.product-container .product-img-container .product-details{
    padding: 10px;
}
.product-container .product-img-container .product-details .product-details-title h3{
font-family: 'Poppins',sans-serif;
text-transform: capitalize;
border-bottom:1px solid var(--public-color);
padding-bottom: 5px;
font-size: 1.6em;
}
.product-container .product-img-container .product-details .product-details-desc{
    font-family: 'Quicksand',sans-serif;
    font-weight: lighter;
    padding:10px 0;
border-bottom:1px solid var(--public-color);

}
.product-container .product-img-container .product-details .product-details-price{
    margin-top: 5px;
}
.product-container .product-img-container .product-details .product-details-price h4{
    font-family: 'Poppins',sans-serif;
text-transform: capitalize;
font-size:1.3em;
}

.product-actions .product-actions-container{
    display: flex;
    margin-top:10px;
}
.product-actions .product-actions-container div{
    cursor: pointer;
}
.product-actions .product-actions-container .product-actions-cart{
    margin:0px 10px
}
.product-show-more{
    width:100%;
    text-align:center;
    margin:20px 0px
}

.product-show-more button{
    font-family: 'Poppins',sans-serif;
    padding: 10px 20px;
    font-weight: bold;
    color:var(--secondary-color);
    background-color: var(--main-color);
    border:none;
    cursor: pointer;
    border-radius:50px;
    box-shadow: var(--primary-shadow);
}

.admin-products-container{
    width: 100%;
    display:grid;
    /* grid-gap: 10px; */
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    justify-content: center;
    /* grid-auto-rows: 10px; */
}

@media only screen and (min-width: 600px){
.admin-products-container{
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    grid-gap: 10px;
    padding: 10px;

}
}

@media only screen and (min-width: 1280px){
    .admin-products-container{
        grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
        grid-gap: 10px;
    }
    }

    @media only screen and (min-width: 1440px){
        .admin-products-container{
            grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
            grid-gap: 10px;
        }
        }